@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">@(String.IsNullOrEmpty(Model.Error) ? "An error occurred while processing your request" : Model.Error)</h2>

